html{
  scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,46,3);
    background: radial-gradient(circle at 50% 50% , rgb(59, 149, 68) 0%,rgb(29, 56, 16) 100%);
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;
    color: white;
    text-align: center;
}

@keyframes gradientMovement {
    0% {
      background-position: 0% 20%;
    }
    100% {
      background-position: 100% 80%;
    }
  }
  

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #245127; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #002F03;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 188, 108);; 
}
