.aboutme{
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subcontainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcontainer p{
    font-size: 2vh;
}

.subcontainer h3{
    font-size: 3vh;
    transition: all 0.3s ease-in-out;
}

.subcontainer h3:hover{
    letter-spacing: 1vw;
}

.img_he{
    width: 70%;
    border-radius: 100%;
    opacity: 1;
    transition: all 0.7s ease-in-out;
}

.darkbg{
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    padding: 5vh 2vw;
}

@media screen and (max-width: 1000px) {
    .subcontainer{
        width: 90%;
        padding: 5vh 4vw;
    }

    .subcontainer p{
        font-size: 1.7vh;
    }
    
    .subcontainer h3{
        font-size: 2.5vh;
    }

    .darkbg{
        border-radius: 25px;
    }

    .aboutme{
        flex-direction: column-reverse;
    }

    .img_me{
        width: 53.5% !important;
    }
}

.subcontainer a {
    text-decoration: none;
    color: rgb(58, 188, 108);
}

.subcontainer span {
    font-weight: 700;
    color: rgb(161, 161, 161);
}

.subcontainer a:hover {
    text-decoration: underline;
    color: #5F7F61;
    font-weight: 500;
}


.img_me {
    position: absolute;
    width: 28.25%;
    border-radius: 100%;
    z-index: -1;
}

.img_he:hover {
    opacity: 0.2;
}

.latestprojects {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    border-radius: 25px;
}

.latestprojects h3 {
    padding-top: 2vh;
    padding-left: 3vw;
    font-size: 3.5vh;
}

.latestprojects a {
    color: rgb(131, 207, 131);
    text-decoration: none;
}

.latestprojects a:hover {
    color: rgb(108, 141, 108);
    text-decoration: underline;
}

.projects {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5vh 0;
}

.latestprojects p {
    justify-self: center;
    align-self: center;
}
  
.projects-item {
    color: #fff;
    background-color: rgba(36, 81, 60, 0.5);
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    width: 90%;
    opacity: 1;
    padding: 2vh 2vw;
}

.projects-item a {
    color: rgb(131, 207, 131);
    text-decoration: none;
}

.projects-item a:hover {
    color: rgb(108, 141, 108);
    text-decoration: underline;
}

.projects-item img {
    width: 10vw;
    border-radius: 5px;
}

.contact{
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 5vw;
    border-radius: 25px;
}

.contact h3{
    font-size: x-large;
    color: white;
}

.contact ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.contact li{
    padding: 0 2vw 0;
}

.contact a{
    color: rgb(131, 207, 131);
    text-decoration: none;
}

.contact a:hover{
    color: rgb(108, 141, 108);
    text-decoration: underline;
}

.contact img{
    width: 7.5vh;
    margin: 0.5vh;
    transition: all 0.4s ease-in-out;
}

.contact img:hover{
    transform: rotate(360deg);
}